$color_oo_green:#95b823;

/* Fix to Jeff's CSS on the Share & Print buttons */
.pr_button:hover {
	border:black 1px solid !important;
}

.cs_street {
	 margin:0 !important; 
	 padding:0 !important; 
	 margin-bottom:15px !important;
}

.slideshow {
	width:1380px;
	margin:0 auto;
	.slidesmask {
		width:1380px;
		margin:0 auto;
		overflow: hidden;
		.slides {
			width:13800px;
			margin-left: 0px;
			article {
				a {
					text-decoration: none;
					color: inherit;
				}
				position:relative;
				width:1380px;
				height:500px;
				float:left;
				img {
					position:absolute;
				}
				.slide {
					position: relative;
					width:980px;
					height: 500px;
					margin: 0 auto;
					h1 {
						border-top:5px solid black; 
						margin-top: 40px;
						padding-top: 10px;
						width:440px;
						display: block;
						position: relative;
						line-height: 32px;
						float: left;
					}
					p {
						display: inline-block;
						width:440px;
						position: relative;
						margin-top: 15px;
						padding: 0;
						line-height: 1.4em;
						float: left;
						clear: left;
						img {
							margin-top: 5px;
						}
					}
				}
			}
		}
	}
}

.slide_controls {
	width: 980px;
	margin: 0 auto;
	z-index: 90000;
	position: relative;
	top:467px;
	display: block;
	.slide_nav{
		background-color: #333;
		display: inline-block;
		height: 33px;
		float: right;
		position:absolute;
		right:0px;

		img {
			display: inline-block;
			padding: 0;
			margin: 0;
			float:left;
			cursor: pointer;
		}
		span {
			display: inline-block;
			width: 17px;
			height: 33px;
			float: left;
			cursor: pointer;
			background-image: url(../../images/rotator_ball_off.gif);
			&.ssc_on {
				background-image: url(../../images/rotator_ball_on.gif);
			}
		}
	}
}

// Used for product badges
.sale_en {
  background: url(../../images/sale_en.png) no-repeat center;
}

.sale_fr {
  background: url(../../images/sale_fr.png) no-repeat center;
}

.new_en {
  background: url(../../images/new_en.png) no-repeat center;
}

.new_fr {
  background: url(../../images/new_fr.png) no-repeat center;
}


// Used for links on blocks of content
a.csBlockAnchor {
	text-decoration:none;
}

span.csSalePrice {
	color:#D60B7D;
}
span.csRegPrice {
	color:#8D8D8D;
	font-size:0.8em;
	text-decoration: line-through; 
	display:inline-block;
	padding-top:3px;
	float:right;
}

// Shopping Cart
.cs_sc_step2 {
	display:none;
}
.cs_sc_step1 {
	display:block;
}

.cs_labelNoBreak {
	display:inline;
	cursor:pointer;
}

.cs_shippingAddressForm{
	display:none;
}

input {
	outline:none;
}

div.invalid {
	&:after {
		display: block;
		position: relative;
		content:attr(errormsg);
		padding-left:5px;
		margin-top:-5px;
		margin-bottom: 10px;
		color:red;
		font-size: 0.9em;
	}

	.superbad-ie & {
		input {
			background-color:#ffcccc;
		}
	}
}

input.invalid-pattern {
	border:solid 1px #ffcccc;
}

input.invalid-maxvalue {
	border:solid 1px #ffcccc;
}

.cs_tooltip {
	position:absolute;
	top:0px;
	left:0px;
	width:200px;
	z-index:230;
	padding:5px;
	background-color:#444;
	border-radius:2px;
	border:1px solid #222;
	box-shadow:2px 2px 2px 1px #222;
	display:none;
	font-size:0.85em;
	color:#eee;
	text-align:center;
	font-weight:400;
}

.cs_nltooltip {
	position:absolute;
	top:80px;
	left:40px;
	width:400px;
	z-index:230;
	padding:5px;
	background-color:#cbcbcb;
	border-radius:2px;
	border:1px solid #222;
	box-shadow:2px 2px 2px 1px #222;
	display:none;
	font-size:0.85em;
	text-align:center;
	font-weight:500;
	&.cs_success {
		color:#333;	
	}
	&.cs_error {
		color:#900;	
	}	
}

.cs_posAnchor {
	position: relative;
}

.checkout_form label.required:after {
	content:"*";
	padding-left:5px;
	color:red;
}


.cs_frmInvalidMsg, .cs_canadaPostProblemMsg{
	display:none;
	margin:10px;
	background-color:#eee;
	color:#7F1917;
	font-weight:bold;
	text-align:center;
	padding:10px;
}

.cs_frmEnableMsg {
	display:none;
}

.cs_shippingbilling_btn,.cs_payWithPaypal,.cs_newsletter_form {
	position: relative;
	.ajaxloader {
		position: relative;
		top:-30px;
		display: none;
		/*left:10px;*/
	}	
}
.cs_newsletter_form {
	.ajaxloader {
		top:-5px;
	}	
}

.cs_placeholder {
	color:#999 !important;
}

.cs_black {
	color:#000 !important;
}

.cs_smallertext {
	font-size:0.85em;
}

.cs_newsletter_btn {
	cursor:pointer;
}

/*
	The following two declarations are copied from Jeff's add_to_cart to adapt to special button
*/
.cs_classes_inquire {
  height: 30px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  padding: 7px 10px 7px 37px;
  text-align: center;
  position:relative;
  float:right;
  /**/background: url('../../../assets/images/email_button.png');
  background-repeat: no-repeat;
  background-color: #666;
  background-position: 10px 8px;  
}
.cs_classes_inquire:hover {
	background-color: #A2C72B;
}

// Bootstrap Popover Customization
.popover {
	.cs_greenPopOver + & {
		background-color: $color_oo_green;
		.popover-content {
			color:#fff;
		}
	}
}

.popover.top .arrow:after,.popover.right .arrow:after,.popover.bottom .arrow:after,.popover.left .arrow:after {
	.cs_greenPopOver + & {
		border-left-color: $color_oo_green;
	}
}