textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: rgba(182, 217, 69, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(182, 217, 69, 0.8);
  outline: 0 none; }

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  color: #fff !important; }

.btn.active, ul.nav li.active > a {
  color: #afd535 !important; }

ul.dropdown-menu li.active > a {
  color: white !important; }

a.brand:hover {
  color: #999999 !important;
  cursor: default !important;
  font-weight: normal !important; }

.controls-group {
  display: inline-block;
  vertical-align: top;
  margin: 5px 0px; }
  .controls-group label {
    cursor: default; }

.typeahead li {
  padding: 0px !important; }

p.lead {
  border-bottom: 2px dotted #afafaf;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 5px; }

div.ui-datepicker {
  font-size: 12px; }

body {
  background: url(../img/farmer.png);
  overflow-y: scroll; }

ul a, ul a:link, ul a:visited {
  text-decoration: none;
  color: inherit; }
  ul a:hover, ul a:link:hover, ul a:visited:hover {
    color: white; }
ul li.active a:hover, ul li.active a:link:hover, ul li.active a:visited:hover {
  color: #afd535; }

.templ {
  display: none; }

.fleft {
  float: left; }

.fright {
  float: right; }

.aright {
  text-align: right; }

.container {
  width: 100%;
  position: absolute; }
  .container header {
    background-color: #000;
    color: #ddd;
    font-weight: bold;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1000; }
    .container header .controlbar {
      position: relative;
      width: 1020px;
      margin: 0 auto;
      padding: 0 10px;
      line-height: 50px; }
      .container header .controlbar .ajaxloader {
        position: absolute;
        z-index: 5000;
        top: 0px;
        right: 240px;
        padding: 0px !important;
        line-height: 50px;
        display: block;
        margin: -3px 0 0 0; }
      .container header .controlbar nav {
        margin: 0;
        margin-left: 50px; }
        .container header .controlbar nav ul {
          display: inline-block;
          list-style: none;
          margin: 0;
          padding: 0; }
          .container header .controlbar nav ul li {
            position: relative;
            display: inline-block;
            margin: 0;
            margin-left: 10px;
            padding: 0 10px;
            line-height: inherit; }
            .container header .controlbar nav ul li.active {
              background-color: #333;
              color: #afd535; }
      .container header .controlbar .logout {
        display: block;
        cursor: pointer; }
  .container section.loginfrm {
    width: 1020px;
    margin: 80px auto 20px auto;
    padding: 10px; }
    .container section.loginfrm input {
      width: 245px;
      margin-bottom: 20px; }
    .container section.loginfrm button {
      width: 260px; }
    .container section.loginfrm .alert {
      display: none; }
  .container .main {
    display: block;
    width: 1020px;
    margin: 80px auto 20px auto;
    padding: 10px; }
    .container .main .products-subnav {
      margin-top: -20px; }
    .container .main #type li, .container .main #category li {
      cursor: pointer; }
    .container .main .listbox {
      width: 100%;
      position: relative;
      margin-top: -18px;
      padding-top: 0; }
      .container .main .listbox .boxcontent div span, .container .main .listbox .entryheader div span {
        display: inline-block !important;
        margin-right: 10px; }
      .container .main .listbox .boxcontent div.fleft, .container .main .listbox .entryheader div.fleft {
        width: 920px; }
        .container .main .listbox .boxcontent div.fleft span, .container .main .listbox .entryheader div.fleft span {
          vertical-align: top; }
        .container .main .listbox .boxcontent div.fleft .prdId, .container .main .listbox .entryheader div.fleft .prdId {
          width: 50px;
          text-align: center; }
        .container .main .listbox .boxcontent div.fleft .prdName, .container .main .listbox .entryheader div.fleft .prdName {
          width: 360px; }
        .container .main .listbox .boxcontent div.fleft .prdType, .container .main .listbox .entryheader div.fleft .prdType {
          width: 130px; }
        .container .main .listbox .boxcontent div.fleft .prdSku, .container .main .listbox .entryheader div.fleft .prdSku {
          width: 120px;
          text-align: center; }
        .container .main .listbox .boxcontent div.fleft .prdPrice, .container .main .listbox .entryheader div.fleft .prdPrice {
          width: 50px;
          text-align: right; }
          .container .main .listbox .boxcontent div.fleft .prdPrice .badge, .container .main .listbox .entryheader div.fleft .prdPrice .badge {
            margin-right: 0; }
        .container .main .listbox .boxcontent div.fleft .prdSaleprice, .container .main .listbox .entryheader div.fleft .prdSaleprice {
          width: 70px;
          text-align: right;
          color: #990000; }
          .container .main .listbox .boxcontent div.fleft .prdSaleprice .badge, .container .main .listbox .entryheader div.fleft .prdSaleprice .badge {
            margin-right: 0; }
        .container .main .listbox .boxcontent div.fleft .prdStock, .container .main .listbox .entryheader div.fleft .prdStock {
          width: 40px;
          text-align: center; }
        .container .main .listbox .boxcontent div.fleft .id, .container .main .listbox .entryheader div.fleft .id {
          width: 50px;
          text-align: center; }
        .container .main .listbox .boxcontent div.fleft .title, .container .main .listbox .entryheader div.fleft .title {
          width: 400px; }
        .container .main .listbox .boxcontent div.fleft .keywords, .container .main .listbox .entryheader div.fleft .keywords {
          width: 220px; }
        .container .main .listbox .boxcontent div.fleft .productlinks, .container .main .listbox .entryheader div.fleft .productlinks {
          width: 150px; }
        .container .main .listbox .boxcontent div.fleft .sliId, .container .main .listbox .entryheader div.fleft .sliId {
          width: 50px;
          text-align: center; }
        .container .main .listbox .boxcontent div.fleft .sliTitle, .container .main .listbox .entryheader div.fleft .sliTitle {
          width: 400px; }
        .container .main .listbox .boxcontent div.fleft .sliDesc, .container .main .listbox .entryheader div.fleft .sliDesc {
          width: 370px; }
        .container .main .listbox .boxcontent div.fleft .sliLink, .container .main .listbox .entryheader div.fleft .sliLink {
          width: 30px; }
        .container .main .listbox .boxcontent div.fleft .clsId, .container .main .listbox .entryheader div.fleft .clsId {
          width: 50px;
          text-align: center; }
        .container .main .listbox .boxcontent div.fleft .clsTitle, .container .main .listbox .entryheader div.fleft .clsTitle {
          width: 350px; }
        .container .main .listbox .boxcontent div.fleft .clsInstructor, .container .main .listbox .entryheader div.fleft .clsInstructor {
          width: 200px; }
        .container .main .listbox .boxcontent div.fleft .clsUpcoming, .container .main .listbox .entryheader div.fleft .clsUpcoming {
          width: 200px; }
        .container .main .listbox .boxcontent div.fleft .clsPrice, .container .main .listbox .entryheader div.fleft .clsPrice {
          width: 50px;
          text-align: right; }
          .container .main .listbox .boxcontent div.fleft .clsPrice .badge, .container .main .listbox .entryheader div.fleft .clsPrice .badge {
            margin-right: 0; }
      .container .main .listbox .boxcontent div.fright, .container .main .listbox .entryheader div.fright {
        width: 70px;
        text-align: right; }
        .container .main .listbox .boxcontent div.fright .editbtn, .container .main .listbox .entryheader div.fright .editbtn {
          text-align: right;
          width: 20px;
          cursor: pointer;
          margin-right: 5px; }
        .container .main .listbox .boxcontent div.fright .statusbtn, .container .main .listbox .entryheader div.fright .statusbtn {
          text-align: right;
          width: 20px;
          cursor: pointer;
          margin-right: 5px; }
      .container .main .listbox ul.boxcontent {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: auto; }
        .container .main .listbox ul.boxcontent .itemrow.inactive {
          opacity: 0.5; }
          .container .main .listbox ul.boxcontent .itemrow.inactive .name {
            text-decoration: line-through; }
        .container .main .listbox ul.boxcontent .itemrow .prdSaleprice {
          background-color: #fffbcc; }
        .container .main .listbox ul.boxcontent li {
          position: relative;
          margin: 2px 0;
          padding: 15px;
          background-color: white;
          border-radius: 3px; }
          .container .main .listbox ul.boxcontent li div.handle {
            position: absolute;
            background: url(../img/grip_grey.png) repeat left top;
            width: 5px;
            height: 80%;
            top: 0px;
            left: 0px;
            margin: 3px;
            padding: 2px; }
          .container .main .listbox ul.boxcontent li:hover {
            background-color: #f8fcee; }
            .container .main .listbox ul.boxcontent li:hover div.handle {
              background-color: #afd535;
              cursor: url(../img/hand.cur) 7 5, default; }
          .container .main .listbox ul.boxcontent li.editing {
            padding: 0;
            margin: 10px 10px; }
      .container .main .listbox ul.entryheader {
        list-style: none;
        margin: 0;
        padding: 0; }
        .container .main .listbox ul.entryheader li {
          position: relative;
          margin: 2px 0;
          padding: 5px 15px;
          color: black;
          font-size: 0.9em;
          font-weight: bold;
          border-bottom: 2px solid #666; }
      .container .main .listbox .listboxheader {
        padding: 15px;
        background-color: #afafaf;
        border-radius: 3px;
        margin-bottom: 3px; }
        .container .main .listbox .listboxheader form {
          margin: 0;
          padding: 0; }
      .container .main .listbox .newentry, .container .main .listbox .editentry {
        display: none;
        margin: 10px; }
        .container .main .listbox .newentry.oomodal, .container .main .listbox .editentry.oomodal {
          position: relative;
          z-index: 1000; }
          .container .main .listbox .newentry.oomodal:before, .container .main .listbox .editentry.oomodal:before {
            position: fixed;
            content: " ";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #666;
            opacity: 0.8;
            z-index: -1; }
      .container .main .listbox .editentry {
        margin: 0px; }
      .container .main .listbox .detailbox {
        position: relative;
        width: 100%;
        margin: 0;
        border-radius: 3px;
        box-shadow: 0px 0px 15px 5px #888; }
        .container .main .listbox .detailbox .imgupcontainer .imgupbutton {
          position: relative;
          width: 100%;
          height: 30px; }
          .container .main .listbox .detailbox .imgupcontainer .imgupbutton .imgupmask {
            position: absolute;
            width: 40%;
            height: 60%;
            margin: 0 25%;
            cursor: pointer !important; }
          .container .main .listbox .detailbox .imgupcontainer .imgupbutton .imgupinput {
            position: absolute;
            width: 50%;
            height: 100%;
            margin: 0 25%;
            cursor: pointer !important;
            opacity: 0;
            z-index: 10; }
        .container .main .listbox .detailbox .imgupcontainer .imguppreviewbox {
          border-radius: 3px;
          border: dashed 5px #afafaf;
          position: relative;
          margin: 10px auto;
          width: 300px;
          height: 170px;
          text-align: center;
          padding: 0px;
          overflow: hidden; }
          .container .main .listbox .detailbox .imgupcontainer .imguppreviewbox .imgupremovebtn {
            position: absolute;
            display: block;
            padding: 2px 5px;
            background-color: #999;
            top: 0;
            right: 0;
            z-index: 10;
            display: none; }
            .container .main .listbox .detailbox .imgupcontainer .imguppreviewbox .imgupremovebtn:hover {
              background-color: #900; }
          .container .main .listbox .detailbox .imgupcontainer .imguppreviewbox .imguppreview, .container .main .listbox .detailbox .imgupcontainer .imguppreviewbox .imgupmessage {
            position: absolute;
            width: 280px;
            height: 150px;
            margin: 10px;
            text-align: center; }
            .container .main .listbox .detailbox .imgupcontainer .imguppreviewbox .imguppreview img, .container .main .listbox .detailbox .imgupcontainer .imguppreviewbox .imgupmessage img {
              max-width: 260px;
              max-height: 150px;
              vertical-align: middle; }
          .container .main .listbox .detailbox .imgupcontainer .imguppreviewbox .imgupmessage {
            padding-top: 40px; }
          .container .main .listbox .detailbox .imgupcontainer .imguppreviewbox .imgupformatmsg, .container .main .listbox .detailbox .imgupcontainer .imguppreviewbox .imgupsizemsg {
            display: none; }
          .container .main .listbox .detailbox .imgupcontainer .imguppreviewbox.imguplarge {
            width: 800px;
            height: 290px; }
            .container .main .listbox .detailbox .imgupcontainer .imguppreviewbox.imguplarge .imguppreview, .container .main .listbox .detailbox .imgupcontainer .imguppreviewbox.imguplarge .imgupmessage {
              width: 800px;
              height: 290px; }
              .container .main .listbox .detailbox .imgupcontainer .imguppreviewbox.imguplarge .imguppreview img, .container .main .listbox .detailbox .imgupcontainer .imguppreviewbox.imguplarge .imgupmessage img {
                max-width: 780px;
                max-height: 270px;
                vertical-align: middle; }
        .container .main .listbox .detailbox .editform .detailboxheader, .container .main .listbox .detailbox .editform .detailboxfooter {
          height: 60px;
          padding: 0px 15px;
          background-color: #333333;
          line-height: 60px;
          color: white; }
          .container .main .listbox .detailbox .editform .detailboxheader h4, .container .main .listbox .detailbox .editform .detailboxfooter h4 {
            padding: 0;
            margin: 0;
            line-height: 60px;
            height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .container .main .listbox .detailbox .editform .detailboxheader .btn, .container .main .listbox .detailbox .editform .detailboxfooter .btn {
            display: inline-block;
            margin-left: 5px; }
        .container .main .listbox .detailbox .editform .detailboxheader {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px; }
        .container .main .listbox .detailbox .editform .detailboxfooter {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px; }
        .container .main .listbox .detailbox .editform .boxcontent {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          background-color: #f8fcee;
          border-top: none;
          padding: 15px; }
          .container .main .listbox .detailbox .editform .boxcontent input[readonly] {
            background-color: white;
            cursor: pointer; }
          .container .main .listbox .detailbox .editform .boxcontent .classScheduleLabelRow {
            display: none; }
          .container .main .listbox .detailbox .editform .boxcontent div.largerSpan3 {
            width: 275px !important; }
          .container .main .listbox .detailbox .editform .boxcontent div.smallerSpan1 {
            width: 20px;
            margin-right: 0;
            margin-left: 10px;
            padding-top: 5px; }
          .container .main .listbox .detailbox .editform .boxcontent .addClassBtn {
            margin-top: 10px;
            color: white !important; }
  .container label span.starrequired {
    margin-left: -5px;
    color: red;
    font-weight: bold;
    font-size: 1.3em; }
  .container form.frmnotvalid input:invalid, .container form.frmnotvalid select:invalid, .container form.frmnotvalid div.required {
    border-color: #e66;
    box-shadow: 0 0 8px #e66; }
