// Vars
$oo_green:#afd535;
$oo_lightgreen: #EBF5CC;
$oo_lightergreen: #F8FCEE;
$lightgrey: #afafaf;
$progressbargrey: #cfcfcf;
$boxHeaderBgColor:#333;
$listItemBgColor: #F8FCEE;
$salepricered:#900;
$highlightyellow:#FFFBCC;

$workspace_width:1020px;
$workspace_padding:10px;

$roundedBoxRadius: 3px;

// Mixins
@mixin roundedBox($radius:$roundedBoxRadius) {
	border-radius:$radius;	
}

@mixin roundedBoxTop($radius:$roundedBoxRadius) {
	border-top-left-radius:$radius;
	border-top-right-radius:$radius;
}

@mixin roundedBoxBottom($radius:$roundedBoxRadius) {
	border-bottom-left-radius:$radius;
	border-bottom-right-radius:$radius;	
}


// Boostrap overrides
// Blue glow effects on focussed form elements
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
border-color: rgba(182, 217, 69, 0.8);//rgba(182, 217, 69, 0.8);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(182, 217, 69, 0.8);
outline: 0 none;}

// Dropdown menu hover background color
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	color: #fff !important;
}

// Green is our active color...
.btn.active, ul.nav li.active > a {
	color:$oo_green !important;
}

// Except when the background color is green!
ul.dropdown-menu li.active > a {
	color:white !important;
}

// Menu bar "brand" component behaviour does not make sense in our context, so make it do nothing on hover
a.brand:hover {
	color:#999999 !important;
	cursor:default !important;
	font-weight:normal !important;
}

// Controls-group used in form templates.
.controls-group {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0px;
	label {
		cursor: default;
	}
}

.typeahead {
	li {
		padding:0px !important;
	}
}

// Used to separate form sections.
p.lead {
	border-bottom:2px dotted $lightgrey;
	padding-bottom:5px;
	margin-top:10px;
	margin-bottom:5px;
}

// Override jQuery UI datepicker size.
div.ui-datepicker{
 font-size:12px;
}

// Global rules

// Conflicts with Boostrap For Elements Spacing (incompatibilities between FF and Chrome)
//* { Box-sizing: Border-box } 

body {
	background: url(../img/farmer.png);
    overflow-y: scroll;
}

// Links inside lists
ul {
	a,a:link,a:visited {
		text-decoration: none;
		color:inherit;
		&:hover {
			color: white;
		}
	}
	li.active {
		a,a:link,a:visited {
			&:hover {
				color: $oo_green;
			}
		}
	}
}

// My custom templates.
.templ {
	display:none;
}

// Floating
.fleft {
	float:left;
}
.fright {
	float:right;
}

.aright{
	text-align:right;
}

// Page specific
.container {
	width:100%;
	position:absolute;

	header {
		background-color: #000;
		color: #ddd;
		font-weight: bold;
		height:50px; 
		width:100%;
		position:fixed;
		z-index: 1000;
		.controlbar {
			position:relative;
			width:$workspace_width;
			margin:0 auto;
			padding:0 $workspace_padding;
			line-height: 50px;
			.ajaxloader {
				position:absolute;
				z-index: 5000;
				top:0px;
				right:240px;
				padding:0px !important;
				line-height:50px;
				display: block;
				margin: -3px 0 0 0;
			}
			nav {
				margin:0;
				margin-left: 50px;
				ul {
					display: inline-block;
					list-style: none;
					margin:0;
					padding:0;
					li {
						position: relative;
						display: inline-block;
						margin: 0;
						margin-left: 10px;
						padding:0 10px;
						line-height: inherit;
						&.active {
							background-color:#333;
							color:$oo_green;
						}
					}
				}
			}
			.logout {
				display: block;
				cursor:pointer;
			} 
		}
	}

	section.loginfrm {
		width:$workspace_width;
		margin: 80px auto 20px auto;
		padding:$workspace_padding;
		input {
			width:245px;
			margin-bottom: 20px;
		}
		button {
			width:260px;
		}
		.alert {
			display: none;
		}
	}

	.main {
		display: block;
		width:$workspace_width;
		margin: 80px auto 20px auto;
		padding:$workspace_padding;
		
		.products-subnav {
			margin-top:-20px;
		}

		#type,#category {
			li {
				cursor: pointer;
			}
		}

		.listbox {
			width:100%;
			position:relative;
			margin-top: -18px;
			padding-top:0;
			.boxcontent,.entryheader {
				div {
					span {
						display: inline-block !important;
						margin-right:10px;
					}
					&.fleft {
						span {
							vertical-align: top;
						}
						width:$workspace_width - 100;
						// Product
						.prdId {
							width:50px;
							text-align: center;
						}
						.prdName {
							width:360px;
						}
						.prdType {
							width:130px;
						}
						.prdSku {
							width:120px;
							text-align: center;
						}
						.prdPrice {
							width:50px;
							text-align: right;
							.badge {
								margin-right:0;
							}
						}
						.prdSaleprice {
							width:70px;
							text-align: right;
							color:$salepricered;
							.badge {
								margin-right:0;
							}
						}
						.prdStock {
							width:40px;
							text-align: center;
						}
						// Recipe
						.id {
							width:50px;
							text-align: center;
						}
						.title {
							width:400px;
						}
						.keywords {
							width:220px;
						}
						.productlinks {
							width:150px;
						}
						// Slideshow
						.sliId {
							width:50px;
							text-align: center;
						}
						.sliTitle {
							width:400px;
						}
						.sliDesc {
							width:370px;
						}
						.sliLink {
							width:30px;
						}
						// Slideshow
						.clsId {
							width:50px;
							text-align: center;
						}
						.clsTitle {
							width:350px;
						}
						.clsInstructor {
							width:200px;
						}
						.clsUpcoming {
							width:200px;
						}
						.clsPrice {
							width:50px;
							text-align: right;
							.badge {
								margin-right:0;
							}
						}
					}
					&.fright {
						width:70px;
						text-align: right;
						
						.editbtn {
							text-align: right;
							width:20px;
							cursor:pointer;
							margin-right: 5px;
						}
						.statusbtn {
							text-align: right;
							width:20px;
							cursor:pointer;
							margin-right: 5px;
						}
					}	
				}
			}
			ul.boxcontent {
				list-style: none;
				margin:0;
				padding:0;
				overflow:auto;
				.itemrow {	
					&.inactive {
						opacity:0.5;
						.name {text-decoration: line-through;}
					}

					.prdSaleprice {
						background-color:$highlightyellow;
					}
				}

				li {
					div.handle {
						position:absolute;
						background: url(../img/grip_grey.png) repeat left top;
						//background-color: #fff;
						width:5px;
						height: 80%;
						top:0px;
						left:0px;
						margin:3px;
						padding:2px;
					}
					position:relative;
					margin:2px 0;
					padding:15px;
					background-color:white;
					@include roundedBox();
					&:hover {
						background-color: $listItemBgColor;
						div.handle {
							background-color: $oo_green;
							//background-color:$oo_green;
							cursor: url(../img/hand.cur) 7 5, default;
						}
					}

					&.editing {
						padding: 0;
						margin:10px 10px;
					}
				}
			}
			ul.entryheader {
				list-style: none;
				margin:0;
				padding:0;
				li {
					position:relative;
					margin:2px 0;
					padding:5px 15px;
					color:black;
					font-size:0.9em;
					font-weight: bold;
					border-bottom:2px solid #666;
				}
			}
			.listboxheader {
				padding:15px;
				background-color: $lightgrey;
				@include roundedBox();
				margin-bottom: 3px;
				form {
					margin:0;
					padding:0;
				}
			}
			.newentry,.editentry {
				display: none;
				margin:10px;
				&.oomodal {
					position:relative;
					z-index: 1000;
					&:before {
						position:fixed;
						content: " ";
						top:0;
						left:0;
						width:100%;
						height:100%;
						background-color:#666;
						opacity: 0.8;
						z-index:-1;
					}
				}
			}
			.editentry {
				margin:0px;
			}
			.detailbox {
				position:relative;
				width:100%;
				margin:0;
				@include roundedBox();
				box-shadow: 0px 0px 15px 5px #888;
				
				.imgupcontainer {
					.imgupbutton {
						position:relative;
						width:100%;
						height: 30px;
						.imgupmask {
							position:absolute;
							width:40%;
							height:60%;
							margin: 0 25%;
							cursor:pointer !important;
							
						}
						.imgupinput {
							position:absolute;
							width:50%;
							height:100%;
							margin: 0 25%;
							cursor:pointer !important;
							opacity: 0;
							z-index: 10;
						}
					}
					.imguppreviewbox {
						border-radius:3px;
						border:dashed 5px $lightgrey;
					    position: relative;
					    margin: 10px auto;
					    width: 300px;
					    height: 170px;
					    text-align: center;
					    padding:0px;
					    overflow: hidden;
					    .imgupremovebtn {
					    	position:absolute;
					    	display: block;
					    	padding:2px 5px;
					    	background-color:#999;
					    	top:0;
					    	right:0;
					    	z-index: 10;
					    	display: none;
					    	&:hover {
					    		background-color:#900;
					    	}
					    }
					    .imguppreview,.imgupmessage {
					    	position:absolute;
					    	width:280px;
					    	height: 150px;
					    	margin:10px;
					    	text-align: center;
					    	img {
					    		max-width: 260px;
					    		max-height: 150px;
						    	vertical-align: middle;
						    }
					    }
					    .imgupmessage{
							padding-top:40px;
					    }
					    .imgupformatmsg,.imgupsizemsg {
					    	display:none;
					    }
					    &.imguplarge {
					    	width:800px;
					    	height: 290px;
					    	.imguppreview,.imgupmessage {
					    		width:800px;
					    		height: 290px;
					    		img {
						    		max-width: 780px;
						    		max-height: 270px;
							    	vertical-align: middle;
							    }
					    	}
					    }
				    }
				}
				
				.editform {
					.detailboxheader,.detailboxfooter {
						height: 60px;
						padding:0px 15px;
						background-color: $boxHeaderBgColor;
						line-height: 60px;
						color:white;
						
						h4 {
							padding:0;
							margin:0;
							line-height: 60px;
							height:60px;
							overflow:hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						.btn {
							display: inline-block;
							margin-left: 5px;
						}
					}
					.detailboxheader {
						@include roundedBoxTop();
					}
					.detailboxfooter {
						@include roundedBoxBottom();
					}
					
					.boxcontent {
						@include roundedBoxBottom();
						background-color:$oo_lightergreen;
						border-top:none;
						padding:15px;
						input[readonly] {
							background-color:white;
							cursor: pointer;
						}
						.classScheduleLabelRow {
							display: none;
						}
						div.largerSpan3 {
							width:275px !important;
						}
						div.smallerSpan1 {
							 width:20px; 
							 margin-right:0; 
							 margin-left:10px;
							 padding-top: 5px;
						}
						.addClassBtn {
							margin-top: 10px;
							color:white !important;
						}
					}
				}
			}
		}
	}

	// Form Validation 
	label {
		span.starrequired {
			margin-left: -5px;
			color: red;
			font-weight: bold;
			font-size:1.3em;
		}
	}
	form.frmnotvalid {
		input:invalid,select:invalid,div.required {
			border-color:#e66;
			box-shadow: 0 0 8px #e66;
		}
	}
	input:required {
		//background-color:#ffa;
	}
	
}