
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
.HelveticaNeuePro-bold-normal {
  font-family: HelveticaNeuePro;
  font-weight: bold;
  font-style: normal;
}
.HelveticaNeuePro-normal-normal {
  font-family: HelveticaNeuePro;
  font-weight: normal;
  font-style: normal;
}
*/
body {
  font-family: "nimbus-sans";
  overflow-x: hidden;
  -ms-overflow-x: hidden;
}



h3.logo {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url('../../../assets/images/logo.png');
  background-position: 0 30px;
  width: 220px;
  height: 31px;
  position: absolute;
  z-index: 1;
  bottom:30px;
  cursor: pointer;
}

/* Main shared full-width container div for 100% pag spans*/

.full_width_container, header {
  width: 100%;
  position:relative;
  margin:0 auto;
}

/* START : Added by CS for top bar free delivery notice */
.topbar-free-shopping {
  width: 100%;
  position:relative;
  margin:0 auto;
  height: 39px;
  background-color: #9bd83b;
}

 .topbar-free-shopping div.img {
  width: 980px;
  margin: 0 auto;
 }
/* END : Added by CS for top bar free delivery notice */

/* Main shared container dive to center content */

.content_container, footer {
  width: 980px;
  position:relative;
  margin:0 auto;
  padding:0;
}

/* Individual effects for 100% spans */

header {
  height: 105px;
  background-color: black;
  border-bottom: 5px solid #afd535;
}

.secondary_nav {
  background-color: #f1f1ec;
  border-bottom:1px solid #d7d7c8;
  height: 65px;
}

.hp_callout_bar{
  background-color: #f1f1ec;
  border-top: 1px solid #ddddd0;
  /*border-bottom: 1px solid #ddddd0;*/
  padding:30px 0 10px 0;
}

.hp_footer_header {
  background-color: #f1f1ec;
  border-bottom: 1px solid #ddddd0;
  border-top: 1px solid #ddddd0;
  padding-top:20px;
  background-image: url('../../images/texture.png');
  float:left;
}

/* Homepage featured block of content */

.hp_feature {
  width:477px !important;
  margin:0 10px 10px 0;
  padding: 0;
  float: left;
  min-height: 180px;
}

.hp_feature img {
  display: inline-block;
  margin: 7px 0 0 7px;
}

.hp_feature h1 {
  display: block;
  width: 300px;
  font-size:22px;
  font-weight: bold;
  float:right;
  margin-top:20px;
  padding:0;
  color: #95b823;
  line-height: 1.1em;
}

.hp_feature h2 {
  font-size:24px;
  font-weight: normal;
  float:left;
  position: relative;
  margin:5px 0;
  padding:0 20px;
  color: black;
}

.hp_feature span {
padding-left: 10px;

}

.hp_feature h2:last-child {
  margin-top: 10px;
}

.hp_feature p {
  display: block;
  font-size: 15px;
  line-height: 1.2em;
  margin-top:10px;
  padding: 0;
  width: 300px;
  float:right;
  position: relative;
  color: black;
}

.hp_feature input {
  float:left;
  position: relative;
  font-size: 15px;
  padding-left: 10px;
  margin:5px 0 10px 20px;
  width: 380px;
  color: black;
  border: 1px solid #ddddd0;
  height: 28px;
}

.input_desc_text {
color: #999 !important;
}

.light {
  font-family: "nimbus-sans",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}

.postcard {
  float: left;
  border: 6px solid white;
  background-color: white;
  -moz-box-shadow:    0px 0px 0px 1px #dddbd7;
  -webkit-box-shadow: 0px 0px 0px 1px #dddbd7;
  box-shadow:         0px 0px 0px 1px #dddbd7;

}

.newsletter {
  margin-bottom:10px;
}

.newsletter_button {
  position:relative;
  top:-2px;
  float: left;
}

.newsletter_height_fix {
  min-height: 100px;
  margin-bottom: 15px;

}

.newsletter h2 a {
  font-size: 16px;
  color: #95b823;
  text-decoration: underline;
  margin-left:10px;
}

.newsletter h2 a:hover {
  text-decoration: none;
}

.newsletter .hp_feature {
  width:463px;
}

.newsletter .hp_feature:first-child {
  margin-right: 25px;
}

/* ALL NAVIGATION STYLS BLOCK */

/* Top nav menu styles */

header nav  {
  display: block;
  width: 980px;
  height: 105px;
  overflow: hidden;
  margin:0 auto;
  font-weight: bold;
}

header nav ul {
  position: absolute;
  list-style: none;
  float: right;
  right:0;
  top:55px;
  margin: 0;
  padding: 0;
}

header nav li {
  float:left;
  margin-left: 15px;
  padding-left:20px;
}

header nav li a {
  float:left;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
 }

header nav li a:last-child {
  padding-right: 0;
}

header nav a:hover, a:focus {
  outline: 0;
  color: #afd535;
}

.cur_nav {
  background-image: url('../../../assets/images/main_nav_arrow.gif');
  background-repeat: no-repeat;
  background-position: 4px 2px;
}

 .cur_nav a {
  color: #afd535;
 }

/* Secondary level nav (product pages top) */

.secondary_nav .content_container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    /*text-justify: distribute-all-lines;*/
    width:980px;
    height: 70px;
}

.sub_cont{
   min-width: 10px;
    height: 65px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding-top: 18px;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.sub_cont a {
  float:left;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  letter-spacing: -0.03em;
  font-family: "nimbus-sans",sans-serif;
  font-style: normal;
  font-weight: 700;
 }


.sub_cont a:hover, a:focus {
  outline: 0;
  color: #afd535;
}

.secondary_nav .cur_nav a {
  color: #95b823;
 }

.secondary_nav .cur_nav {
  background-image: none;
 }


 .secondary_nav h2 {
  display: block;
  margin: 0 auto;
  padding: 0;
  width:980px;
  padding:15px 19px 19px 0;
  font-size: 28px;
  letter-spacing: -0.03em;
 }




/* Side nav - left side of page */

#side_nav {
  width: 180px;
  border-top: 5px solid black;
  float: left;
  position: relative;
  margin:44px 20px 50px 0;
  font-weight: bold;
  font-size: 16px;
}


#side_nav ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin:0;
}

#side_nav  li {
  width: 180px;
  float:left;
  padding:10px 10px 10px 0;
  border-bottom: 1px solid #ddddd0;
}


#side_nav li a {
  float:left;
  text-decoration: none;
  color: black;
  font-weight: normal;
 }

#side_nav a:hover, a:focus {
  outline: 0;
  color: #afd535;
}

#side_nav .cur_nav {
  background-image: url('../../images/black_arrow.png');
  background-position: 170px 13px;
}

#side_nav .cur_nav a {
  color: black;
  font-weight: bold;
 }

 #side_nav h2 {
  font-size: 14px;
 }

#side_nav h2 img {
  display: inline-block;
  margin-right: 5px;
 }


 #side_nav .searchBox {
  width: 180px;
  height: 30px;
  padding:0 10px;
  border: 1px solid #ddddd0;
 }

/* Floating top tools nav (home, lang, cart) */

.tools  {
  position: absolute;
  width: 980px;
  height: 105px;
  margin:0 auto;
  padding: 0;
}

.tools ul {
  position: absolute;
  right:0;
  top:-15px;
  list-style: none;
}

.tools li {
  float:left;
  margin-left: 10px;
  background-color: #333;
  height: 30px;
}

.tools a {
  display: inline-block;
  float:left;
  padding: 8px 10px 5px 10px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
 }

.tools a:hover, .tools a:focus {
  outline: 0;
  color: #95b823;
}

.shopping_cart {
  background-image:url('../../../assets/images/shopping_cart.png');
  background-repeat: no-repeat;
  background-position:90% 5px;
  padding-right: 30px;
}

.link_arrow {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  vertical-align: inherit;
}

/* ALL NAVIGATION STYLS BLOCK ENDS */

/* Slider CSS - to be changed by Camille */

.slide_container {
    width:100%;
    height:500px;
    max-width: 1380px;
    min-width: 980px;
    margin: 0 auto;
    overflow: hidden;
    /*background: url(../../../assets/images/rotators/image_1.jpg) no-repeat center;*/
  }

@media only screen and (device-width:768px)and (orientation:portrait){

  .slide_container {
    width:1536px;
    background-size: auto 704.08163265306px;
    height: 704.08163265306px;

  }
}

@media only screen and (device-width:768px)and (orientation:landscape){

  .slide_container {
    width:1536px;
    background-size:140.816326530612% auto;
    height: 704.08163265306px;
  }

}

.slide {
  position: relative;
  width:980px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.slide h1 {
  border-top:5px solid black;
  margin-top: 20px;
  padding-top: 20px;
  width:440px;
  display: block;
  position: relative;
  line-height: 32px;
  float: left;
  font-size: 36px;
  letter-spacing: -0.03em;
}

.content_container h4 {
  line-height: 32px;
  font-size: 32px;
  letter-spacing: -0.035em;
  padding:0;
  margin:30px 0;
  width: 960px;
  float:left;
}

.slide p {
  display: inline-block;
  width:440px;
  position: relative;
  margin-top: 15px;
  padding: 0;
  line-height: 1.4em;
  float: left;
  clear: left;
}

.slide_controls {
  width: 980px;
  margin: 0 auto;
  z-index: 90000;
  position: relative;
  top:500px;
  display: block;
}

.slide_nav{
  background-color: #333;
  display: inline-block;
  height: 33px;
  float: right;

}

.slide_nav img {
  display: inline-block;
  padding: 0;
  margin: 0;
  float:left;
}


/* Footer styles */

footer {
  margin-bottom: 50px;
  overflow: auto;
}

footer hr {
  height: 5px;
  background-color: black;
  border: none;
  clear: both;
}

footer h2 {
  width:730px;
  font-size:27px;
  padding: 0;
  margin: 30px 0 20px 0;
}

footer table {
width:100%;
margin-top: 30px;
}

footer td {
  vertical-align: top;
}

footer td:last-child {
  width:1%;
}

footer img {
  display: inline-block;
  margin:5px 5px 0 0;
 }


.footer_nav a {
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
}

.footer_nav a:hover {
  text-decoration: underline;
  color: #95b823;
}

.content_container .footer_links {
  font-size: 13px;
  margin-top: 30px;
}

.content_container .footer_links a {
  display: inline-block;
  margin: 0 10px;
  color: black;
  text-decoration: none;
}


.content_container .footer_links a:hover {
  color: #95b823;
  text-decoration: underline;
}

.instructor_container {
  width:780px;
  height: 121px;
  border-bottom:5px solid #95b823;
}

.instructor_container img{
  display: block;
  float:left;
  padding-bottom:5px;

}

.instructor_container .title {
  display: block;
  float: left;
  font-size: 34px;
  font-weight: bold;
  margin: 0;
  padding-top: 40px;
}

.instructor_container .title span {
  font-size: 26px;
  line-height: 20px;
  font-weight: bold;
  display: block;
  color: #95b823;
}

.content_tools {
  width: 780px;
  height: 50px;
  border-bottom:1px solid #d7d7c8;
  margin-bottom: 20px;
}

.content_tools .pr_button {
  float: right;
  margin:10px 10px 0 0;
  position: relative;
  right:0;
}


/* Product pages styles */

#main_content {
  width:780px;
  float: left;
  margin: 44px 0 40px 0;
}

.product_block {
  border: 1px solid #fff;
  width:180px;
  background-color: #fff;
  min-height: 524px;
  padding:9px;
  float: left;
  margin: 0 20px 15px 0;
}


.product_block_rollover {
  border: 1px solid #ddddd0;
  background-color: #f1f1ec;
}

.product_block_cur {
  border: 1px solid #95b823;
  background-color: #f1f1ec;
}

.product_block p {
  display: block;
  margin: 0;
  padding: 0;
}


/* Recipe Hub Page */

.recipe_block {
  border: 1px solid #fff;
  background-color: #fff;
  width:180px;
  /*padding: 9px 9px 9px 15px;
  padding-left: 9px; */
  float: left;
  margin: 0 20px 5px 0;
  min-height: 260px;
  position: relative;
  font-size: 14px;
}

.recipe_block p {
  display: block;
  width: 150px;
  margin: 5px 5px 10px 15px;
  color: black;
  line-height: 1.1em;
}

.recipe_block:hover, .product_block:hover {
  border: 1px solid #ddddd0;
  background-color: #f1f1ec;
}


.recipe_block img {
  margin: 10px 15px;
}

.recipe_block span {
  color: white;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  display: inline-block;
  width: 150px;
  bottom: 10px;
  right:15px;
  background-color: black;
  padding: 5px 0;
}

.related_products {
  width:300px;
  float: right;
  margin-bottom:25px;
  display:inline-block;
}

.related_products .title{
  padding-bottom: 5px;
  border-bottom: 1px solid #d7d7c8;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.related_products .sub_title{
  font-size: 18px;
  color:#95b823;
  font-weight: bold;
  display: inline-block;
  padding: 0;
  margin: 5px 0;
}

.related_products a {
  display: block;
  font-size: 18px;
  color: black;
  text-decoration: none;
  padding: 0;
  margin-bottom: 10px;
}

.related_products a:hover {
  text-decoration: underline;
  color:#95b823;
}

/* Small product image on hub page */

.product_small {
  float:left;
  margin-bottom: 20px;
}

.product_large {
  float:right;
  margin-bottom: 20px;
  position: relative;
}

.recipe_large {
  float:right;
  margin-top: 90px;
  position: relative;
}

/* Product Hub page items */

.product_block .desc {
  display: block;
  color: black;
  font-size: 16px;
  margin-top: 10px;
  min-height: 40px;   /* added by Jeff Mon Sept 8 2014 */
}

.product_block .title {
  font-size: 18px;
  font-weight: bold;
  color: #95b823;
  padding: 0;
  line-height: 1.1em;
  margin-top: 5px;
  height: 57px;
  overflow: hidden;
}

.product_block .price {
  width:100%;
  display: inline-block;
  border-top: 1px solid #ddddd0;
  border-bottom: 1px solid #ddddd0;
  font-weight: bold;
  color: black;
  margin:10px 0;
  font-size: 20px;
  padding: 8px 2px 5px 5px;
}

.product_block input, #product_details input  {
  float: left;
  position: relative;
  padding: 0;
  margin: 0;
  width:35px;
  height:26px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.btn_achete {
  margin-left: 10px;
  float: left;
}

/* Product details page */

#product_details, #recipe_details {
  width: 640px;
  float:left;
  padding-bottom: 20px;
}

#product_details h1, #recipe_details h1 {
  color: #95b823;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0;
  line-height: 0.9em;
  letter-spacing: -0.03em;
}


#product_details h2, #recipe_details h2 {
  color: black;
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 15px 0;
  padding-bottom: 10px;
  border-bottom: 5px solid black;
}

#product_details h3, #recipe_details h3 {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.pr_desc {
  width:400px;
  float:left;
  margin-right: 20px;
  padding-top: 14px;
}

.pr_desc ul, .recipe_desc ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin:0;
}

.recipe_desc {
  width:640px;
}

.pr_desc p, .recipe_desc p {
  display: inline-block;
  margin:0 0 20px 0;
  padding: 0;
}

.pr_desc p:last-child, .recipe_desc p:last-child {
  margin-bottom: 25px;
}

.pr_details {
  width:200px;
  float: right;
}

.share_container {
  width:300px;
  float:left;
  margin-left: 40px;
}

.share_details {
  width:300px;
  float: right;
  margin-bottom:25px;
  display:inline-block;
}

.share_details .pr_button {
  float: left;
  margin:0 10px 0 0;
  position: relative;
  right:0;
}

.fb_iframe_widget {
  float: right;
  display: inline-block;
  padding-top: 5px;
}

.pr_size{
  padding-bottom: 5px;
  border-bottom: 1px solid #d7d7c8;
  font-weight: bold;
  font-size: 18px;
}

.pr_sale_price {
  font-size: 26px;
  font-weight: bold;
  float: left;
  margin: 0;
  padding: 0;
  color: #d70b7d;
}

.pr_prev_price {
  font-size: 18px;
  font-weight: bold;
  float: right;
  margin: 0;
  padding: 0;
  color: #8d8d8d;
  text-decoration: line-through;
  display: inline-block;
}


#product_details form {
  display: inline-block;
  margin-top: 10px;
}

.pr_delivery {
  display: inline-block;
  border-bottom: 1px solid #d7d7c8;
  padding-bottom: 10px;
  font-size: 14px;
}

/* Small buttons below the detail block on */
/* product detail page */

.pr_button {
  border: 1px solid #d7d7c8;
  background-color: #f1f1ec;
  font-size: 14px;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  float: left;
  min-width: 95px;
  text-align: center;
  white-space: nowrap
}

.pr_button:hover {
  background-color: black;
  border: none;
  color: white;
}

.add_to_cart {
  height: 26px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  background-color: black;
  padding: 7px 0 0 20px;
  text-align: center;
  position:relative;
  float:right;
  background: url('../../../assets/images/cart_icon.png');
  background-repeat: no-repeat;
  background-color: black;
  background-position: 8px 5px;
}

.pr_detail_btn {
  width: 138px;
  margin-left: 12px;
}

.pr_hub_btn {

  margin-left: 1px;
  padding: 7px 10px 0 40px;
}

.add_to_cart:hover {
  background-color: #A2C72B;
}

.quantity_input {
  width: 50px !important;
  border:1px solid #d7d7c8;
}


/*   Gift Box page updates */

.gift_block {
  width:380px;
}

.gift_block input {
  float:right;
  display: inline-block;
}

.gift_block form {
  width:100%;
  display: inline-block;
  border-top: 1px solid #ddddd0;
  border-bottom: 1px solid #ddddd0;
  font-weight: bold;
  color: black;
  margin:10px 0;
  font-size: 20px;
  padding: 8px 2px 5px 5px;
}

.gift_block .pr_sale_price {
  border:none;
  font-size: 18px;
  float:left;
}

.gift_block .pr_prev_price {
  font-size: 16px;
  text-decoration: line-through;
  color: #8d8d8d;
  position: relative;
  font-weight: bold;
  padding: 2px 20px 0 20px;
  float: left;
}

/*

.pr_sale_price {
  font-size: 26px;
  font-weight: bold;
  float: left;
  margin: 0;
  padding: 0;
  color: #d70b7d;
}

*/


.gift_price {
  float:left;
}

.gift_block input {
  float: right;
}

.gift_block a {
  float: right;
}

.gift_block .title {
  height: 40px;
}

.gift_header {
  width:780px;
  background-color: #f1f1ec;
  border:1px solid #d7d7c8;
  float: left;
  margin-bottom: 25px;
}

.gift_header table {
  margin: 10px auto 20px auto;

}

.gift_header img{
  float:right;
}

.gift_header .bullet {
  padding: 3px 0;
}

.gift_header .bullet ul {
  padding: 0;
  margin-left: 20px;
}

.gift_header .title {
  color: #95b823;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 5px;
}

.gift_header .sub_title{
  font-weight: bold;
  font-size: 16px;
  padding-top: 8px;
}

.gift_header a {
  color: black;
  text-decoration: none;
}

.gift_header a:hover {
  color: #95b823;
  text-decoration: underline;
}

/* GREEN: #95b823  */
/* BEIGE LINES: #d7d7c8 */
/* PINK: #d70b7d */
/* LIGHT BG: #f1f1ec; */
/* Clear right margins on looped elements */

/* Gift block updates end */


/* Recipe ideas block product detail page */

#recipe_ideas {
  width: 640px;
  display: inline-block;
  border-top: 1px solid #d7d7c8;
  padding-top: 20px;
  margin-bottom: 20px;
}

#recipe_ideas li img {
  margin:0 0 15px 1px;
}

#recipe_ideas ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pr_recipes li {
  width:150px;
  margin:0 12px 20px 0;
  float: left;
}

#recipe_ideas li a {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  text-decoration: none;
  color: black;
  line-height: 1.1em;
}

#recipe_ideas li a:active, #recipe_ideas li a:visited {
  text-decoration: none;
  color: black;
}

#recipe_ideas li a:hover {
  text-decoration: none;
  color: #95b823;
}



/* CCS promo buttons */

.label {
  display: block;
  position: absolute;
  z-index: 9000;
  margin: 50px 0 0 10px;
  width:86px;
  height: 86px;
}

.sale {
  background: url(../../../assets/images/sale_en.png) no-repeat center;
}

.gift_block .label {
  margin: 25px 0 0 0;
}

.solde {
  background: url(../../../assets/images/sale_fr.png) no-repeat center;
}

.new {
  background: url(../../../assets/images/new_en.png) no-repeat center;
}

.nouveau {
  background: url(../../../assets/images/new_fr.png) no-repeat center;
}

.pagination {
    display: inline-block;
    position: relative;
    text-align: center;
    cursor:pointer;
    margin: 10px 0 50px 0;
    height: 15px;

}

.pagination a {
  text-decoration: none;
  color: black;
}

#prev {
  margin:0 10px;
}

#prev_text, #next_text {
  display: inline-block;
  margin-left:10px;
  /* background-color: #f1f1ec; */
  padding:10px;
  line-height: 10px;
  width:200px;
 /*  border: 1px solid #d7d7c8; */
  white-space: nowrap;
  color: #95b823;
  font-size: 14px;
  font-weight: bold;
}

.pagination img {
  margin: 10px 0 0 0;
  position: relative;
  top:3px;
}


/* Floating TOP LINK button for long pages */

#top-link  {
  display:none;
  position:fixed;
  right:0;
  margin-left:200px;
  bottom:2px; color:#000;
  font-weight:bold; text-decoration:none;
  border:1px solid #CCC;
  background:#95b823;
  padding:10px;
  opacity:0.8;
  color: white;
   }

.course_block {
  border-bottom: 1px solid #ddddd0;
  width:780px;
  background-color: #fff;
  float: right;
  margin: 20px 0 15px 20px;
  padding-bottom: 30px;
}

.course_block img {
  float: left;
  display: inline-block;
  margin:0 30px 0 0;
  padding: 0;
}

#main_content .course_block:first-child{
  margin-top: 0;
}

.course_block h2, h1, h3 {
  margin: 0;
  padding: 0;
}

.course_block h1 {
  font-size: 32px;
  color: #95b823;
  line-height: 30px;
  font-weight: bold;
  margin: 5px 0 10px 0;
}

.news_block {
border-bottom: 1px solid #d7d7c8;
margin-bottom: 20px;
padding-bottom: 20px;
}

.news_block h1 {
  color: #95b823;
  line-height: 25px;
  font-weight: bold;
  font-size: 26px !important;
}

.news_block h2 {
  margin: 0 !important;
  padding: 10px 0 !important;
  font-size: 18px !important;
}

.news_block a {
  text-decoration: none;
}

.news_block .reference {
  margin-top: 10px;
  padding: 0;
}

.news_block a:hover {
  text-decoration: underline !important;
}

.news_block img {
  float: left;
  display: inline-block;
  margin:0 30px 0 0;
  padding: 0;
}

.news_desc {
  width:600px;
  float: left;
  display: inline-block;
}

.last_news {
  border-bottom: none;
}

.course_block h2 {
  font-size: 18px;
  color: black;
}


.course_block h3 {
  font-size: 16px;
  color: black;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 22px;
  margin-bottom: 10px;
}


.course_desc {
  float:left;
  width:400px;
  display: inline-block;
}

.course_desc p {
  margin: 0;
  padding: 0;
}

.course_desc .title {
  color: #666;
  margin: 5px 0;

}

.course_desc p:first-child {
  margin-bottom: 10px;
  padding: 0;
}

.course_desc .title:first-letter{
  color: #333;
  font-weight: bold;
}

.course_detail {
  float:right;
  width:160px;
  margin-left: 20px;
  display: inline-block;
  border-top: 1px solid #d7d7c8;
  padding-top: 15px;
}

.course_detail p {
  padding: 0;
  margin: 0;
}

.course_detail .price {
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  line-height: 30px;
  color: #d70b7d;
}

.course_detail .price_desc{
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 10px;
}

.cource_policy {
  font-size: 14px;
  text-align: right;
  margin-top: 7px;
  color: #666;
  display: block;
}

.course_detail input {
  width:40px;
  border: 1px solid #d7d7c8;
  text-align: center;
  min-height: 26px;
}

.course_full_btn {
  background-color: #d70b7d;
    border: 1px solid white;
    outline: 2px solid #d70b7d;
    width:108px;
    background-image: none;
    height: 23px;
    padding: 4px 0 0 0;
}

.course_full_btn:hover {
  background-color: #d70b7d;
    border: 1px solid white;
    outline: 2px solid #d70b7d;
    width:108px;
    background-image: none;
    height: 23px;
    padding: 4px 0 0 0;
}

.address_block {
  float:left;
  width:470px;
  display: inline-block;
  margin:0 40px 50px 0;
}

.header_address {
  border-top: 5px solid black;
  padding-top:30px;
  margin-top: 45px;
}

.add_full_width {
  width:780px;
}

.left {
  float:left;
}

.right {
  float:right;
}


.address_block h1 {
  font-size: 28px;
  color: #95b823;
  line-height: 32px;
  width:470px;
  border-bottom: 1px solid #d7d7c8;
  margin-bottom:10px;
  padding-bottom: 5px;
  letter-spacing: -0.03em;
}

.address_block h2 {
  font-size: 20px;
  color: black;
  margin: 0;
  padding: 0;
}

.address{
  float:left;
  width:260px;
}

.hours {
  float:right;
  width:180px;
  border-collapse:collapse;
  margin: 0;
  padding: 0;
}

.bad-ie .hours {
  width:200px;
}


.mail_link {
color: black;
}

.mail_link:hover{
  color:#95b823;
  text-decoration: none;
}

.hours td {
line-height: 18px;
}

.hours tr td:last-child {
  white-space: nowrap;
}

.hours .day {
  font-weight: bold;
  padding-right: 10px;
}

.address p {
  margin: 0;
  padding: 0;
}

.address .contact {
  font-weight: bold;
}

.street {
  margin-bottom: 15px !important;
  display: block;
}

.map_btn{
  /*width:100px;*/
  height: 26px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  background-color: black;
  padding: 7px 20px 20px 30px;
  text-align: center;
  position:relative;
  float:left;
  background: url('../../../assets/images/map_icon.png');
  background-repeat: no-repeat;
  background-color: black;
  background-position: 8px 5px;
  margin-top: 18px;

}

/* Shopping Cart Styles */

.secondary_nav h2 img {
  display: block;
  float:left;
  margin-right:10px;
}

#shopping_cart {
  width: 640px;
  float:left;
  padding-bottom: 20px;
}

#shopping_cart h1 {
  color: #95b823;
  font-size: 32px;
  font-weight: bold;
  margin: 50px 0 10px 0;
  padding: 0;
  line-height: 0.9em;
  letter-spacing: -0.03em;
}

#shopping_cart h2 {
  color: black;
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 25px 0;
  padding-bottom: 10px;
  border-bottom: 5px solid black;
}

.cart_table {
  width:640px !important;
  float: left;
  margin-top: 25px;
}

.cart_table h1 {
  font-size: 20px !important;
  margin: 0 !important;
  padding: 0 !important;
  width:240px;
  color: #95b823;
}

.cart_table p {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.cart_table .image img {
  height: 78px;
}

.cart_table .image {
  min-width: 105px;
}

.cart_table .quantity {
  width:40px;
  text-align: center;
}

.cart_table .remove{
  white-space: nowrap;
  font-size: 16px;
}

.cart_table .remove input{
  margin-right: 10px;
}

.cart_table td {
  border-bottom: 1px solid #d7d7c8;
  padding:10px 2px;
  /*border:1px solid blue;
  background-color: pink;*/
}

.cart_table .last_row td{
  border-bottom:none;
}

.cart_table .price {
  font-size: 18px;
}

.cart_table .subtotal {
  font-weight: bold;
}

.top {
  border-top: 1px solid #d7d7c8;
  font-weight: bold;
  font-size: 14px;
}

.button_row {
  border-top: 2px solid #d7d7c8;
}

.button_row td {
  padding:20px 0 30px 0;
}

.gift_heading {
  padding: 10px 20px;
  margin:0;
}

.gift_heading h3 {
  color: black !important;
}

.gift_heading img {
  float:left;
  margin:0;
  padding:0;
}

#shopping_cart h3 {
  color: #95b823;
  display: block;
  float: left;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
  margin-bottom:10px;
  padding: 5px 0 0 10px;
}


#shopping_cart h4 {
  color: black;
  display: block;
  width: 600px;
  font-weight: bold;
  font-size: 22px;
  padding: 0;
  margin-bottom: 10px;
  float: none !important;
}


.gift_msg td {
  border: 1px solid #d7d7c8;
  background-color: #f1f1ec;
  padding: 10px;
}

.gift_msg textarea{
  margin-top:10px;
  width:600px;
  height:100px;
  max-width: 600px;
  max-height: 100px;
}

.gift_msg textarea:focus{
  border:1px solid #d7d7c8;
  outline: none;
}

.gift_msg p{
  float:left;
  font-weight: normal;
  font-style: italic;
  color: #8c8c7d;
  margin:10px 0 10px 10px;
}

.add_message_en {
  height: 35px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  background-color: black;
  padding: 10px 75px 0 20px;
  text-align: center;
  position:relative;
  float:right;
  background: url('../../../assets/images/hello_tag.png');
  background-repeat: no-repeat;
  background-color: black;
  background-position: 130px 5px;
  margin: 10px;
}

.add_message_en:hover, .add_message_fr:hover, .proceed_to_checkout:hover {
  background-color: #95b823;
}

.add_message_fr {
  height: 35px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  background-color: black;
  padding: 10px 90px 0 20px;
  text-align: center;
  position:relative;
  float:right;
  background: url('../../../assets/images/hello_tag_fr.png');
  background-repeat: no-repeat;
  background-color: black;
  background-position: 175px 5px;
  margin: 10px;
}

#cart_total {
  float:right;
  background-color: #f1f1ec;
  border:1px solid #d7d7c8;
  width:280px;
  margin: 100px 0 25px 0;
  padding-bottom: 20px;
  position: relative;

}

.centre {
  text-align: center;
}

#cart_total .header {
  margin: 20px;
  border-top:1px solid #d7d7c8;
  border-bottom:1px solid #d7d7c8;
  padding:10px 0;
}

#cart_total p {
  margin: 20px;
}

.header .sub_text {
  font-size: 20px;
  font-weight: bold;
  float: left;
}

.header .sub_price {
  font-size: 20px;
  font-weight: bold;
  float: right;
}

.proceed_to_checkout {
  height: 36px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  display: block;
  background-color: black;
  padding: 10px 0;
  position:relative;
  margin: 0 auto;
  width:240px;
}

/* Checkout Page */

.checkout {
  width:640px;
  background-color: #666;
  margin-bottom: 50px;
}

.checkout_form {
  width:640px;
  border:1px solid #d7d7c8;
  border-width:0 1px 1px 1px;
}

#shopping_cart fieldset {
   border:none !important;
   margin: 0;
   padding: 0;
}

label {
  display: block;
  margin: 5px 0;
}

.newsletter label {
  display: inline-block;
  float:right;
  margin: 0;
  padding: 6px 0 0 10px;
}

.newsletter input {
  display: inline-block;
  float: left;
}


.radio_label {
  display: inline-block;
  margin: 0 5px 25px 5px;
  position: relative;
  top:-5px;

}

.checkout_form legend {
  font-size: 20px;
  font-weight: bold;
  width: 638px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f1f1ec;
  border:1px solid #d7d7c8;
  border-width:1px 0 1px 0;
}

.half {
  width:290px;
}

.quarter {
  width:165px;
}

.postalcode{
  width:100px;
}

.city {
  width:300px;
}

.full {
  width:610px;
  float:left;
  margin-right: 0 !important;
}

.feild_block{
  float:left;
  margin-right: 20px;
  padding: 0;
}
.feild_row {
  display: block;
  padding-left: 10px;
}

.checkout_form input, .checkout_form select {
  margin-bottom:10px;
  height: 30px;
  border:1px solid #d7d7c8;
  padding-left: 10px;
}

/*
.checkout_form select {
  width:100px;
}
*/
.pr_button input {
  height:10px;
  position: relative;
  top:-2px;
  margin-right: 5px;
}

legend .pr_button {
  font-weight: normal;
  padding-bottom: 0;
  position: relative;
  top:-15px;
}

legend .shipping {
  margin-top: 50px;
  font-size: 50px;
}

.confirmation {
  margin: 0 auto 25px auto ;
  display: block;
}

.checkout_form p {
  display: block;
  margin-bottom: 20px;
  padding-left: 10px;
}

.cs_sameBillShip{
  border:0 solid #fff;
}

.shipping_label {
  margin-top: 20px;
}

.receipt{
  width:240px !important;
  margin-left: 20px;
}
/*
.receipt td{
  border:1px solid red;
}
*/
.receipt .product{
  vertical-align:text-top;
  padding: 0;
}

.receipt .quantity{
  text-align: center;
  vertical-align:text-top;
  padding: 0 5px;
}

.receipt .price{
  text-align: right;
  vertical-align:text-top;
  white-space: nowrap !important;
}

.receipt #header td, .receipt .taxes{
  border-bottom:2px solid black;
  padding: 30px 0 5px 0;
  font-weight: bold;
}

.receipt .row td {
  border-bottom:1px solid #d7d7c8;
  padding-bottom:10px;
}

.receipt .row .last{
  border-bottom:none;
  padding-bottom: 20px;
}

.receipt .subtotal {
  font-weight: bold;
  margin: 10px;
}

.receipt .tax {
  font-weight: normal;
}

.sub, .shipping, .tax, .total, .subtotal {
  text-align: right;
}

.shipping_note{
  display: inline-block;
  float: right;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  padding-right: 10px;
}

.rec_label {
  font-weight: bold;
}

.update a {
  display:block;
  white-space: nowrap;
  font-weight: normal;
  color: #5375ae;
  float: left;
  padding: 5px 0;
}

.receipt .tax {
  font-weight: normal;
}

.receipt .total {
  font-weight: bold;
  font-size: 20px;
}

.payment {
  margin-bottom: 5px;
}

.btn_off{
  background-color: #c5c5bf;
  cursor: default;
}

.btn_off:hover{
  background-color: #c5c5bf;
  cursor: default;
}


.disclaimer {
  padding: 0;
  background-color: white;
  border: 1px solid #d7d7c8;
  width:280px;
  margin:0;
  float: right;
}

.disclaimer p {
  padding: 0 20px;
}

.disclaimer .paypal_image {
  border-top:1px solid #d7d7c8;
  width:240px;
  margin:0 0 20px 20px;
}

.disclaimer .paypal_image img {
  margin:10px 0 0 40px;
}

.disclaimer a{
  font-weight: bold;
  color: #95b823;
  text-decoration: none;
}

.receipt_footer{
  display: block;
  margin-bottom:20px;
  padding: 0;
  position: relative;
  top:-1px;
  left:80px;
  float: left;
}

.show {
  display:block;
}

.hide {
  display: none;
}

.last_element {
  margin-right: 0 !important;
  float:right;
}

.cart_num {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  height:18px;
  background-color: #95b823;
  color: white;
  float: right;
  margin:0 5px;
  top:-2px;
  position: relative;
}

.cart_num p{
  display: block;
  text-align: center;
  position: relative;
  top:-1px;
  margin: 0 1px 0 0;
  padding:0 6px 0 5px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.1em;
}

.static_page h1{
  letter-spacing: -0.04em;
  font-size: 30px;
  color: #95b823;
}

.static_page h2{
  font-weight: bold;
  font-size: 20px;
  margin: 25px 0;
}

.static_page h3{
  font-weight: bold;
  font-size: 24px;
  margin: 50px 0 10px 0;
  color: #95b823;
}

.intro {
  font-size: 24px;
  color: #000000;
  line-height: 32px;

}
.static_page hr {
  background-color: #d7d7c8;
  height: 1px;
  border: none;
  margin-bottom: 30px;
}

.static_page a, #shopping_cart a {
 color: #95b823;
}



.static_page a:hover, #shopping_cart a:hover {
 color: #95b823;
 text-decoration: none;
}


/* Print Styles*/

.print_share_container {
  width:300px;
  float:left;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
}

.print_details {
  display: inline-block;
  float: left;
  margin-left: 40px;
}

.print {
  margin-top: 25px;
}

.print_logo {
  display: inline-block;
  margin: 20px 0 0 0;
  position: relative;
}

.print_share_container .postcard {
width:298px;
margin-left: 2px;
}

.bad-ie .clearfix:after {
    content: " ";
    display: block;
}

 .cs_sameBillShip, .cs_diffBillShip, #newsletter {
  border:1px solid #fff !important;
}

.newsletter_height_fix form{
  position: relative;
}


#cart_messages {
  width:240px;
  padding: 10px 0;
  margin-left:20px;
  line-height: 1.2em;
}

#cart_messages a{
  text-decoration: underline;
  font-weight: bold;
  color: #3f74af;
}

#cart_messages a:hover{
  text-decoration: none;
  font-weight: bold;
  color: #80bc10;
}

.redtext {
  color:#bf0000;
}

/* 404 Page */

#error404_cont{
  margin: 40px auto 200px auto;

}

#error404{
float: left;
font-size: 32px;
font-weight: bold;
color: #95b823;
width:980px;
margin-bottom: 10px;
}

#error404_text{
float: left;
font-size: 20px;
line-height: 1.4em;
margin-bottom: 100px;
}

#error404_text a{
  color: #95b823;
  text-decoration: underline;
}

#error404_text a:hover{
  color: #95b823;
  text-decoration: none;
}

#error_rule {
  height: 5px;
  background-color: black;
  margin-bottom:15px;
}


/* IE7 sucks

.superbad-ie body {
  font-size: 14px;
}
*/
.superbad-ie .tools ul{
  top:0;
}

.superbad-ie .tools .shopping_cart {
  max-width: 150px;
}

.superbad-ie .tools .cart_num {
  margin-top:-16px;
}

.superbad-ie .hp_feature {
  width:465px !important;
}

.superbad-ie .recipe_block {
  width:178px;
}

.superbad-ie .recipe_block img {
  margin-left:8px;
}

.superbad-ie .recipe_block  {
  background-color: #f1f1ec;
  min-height: 270px;
  overflow: hidden;
  cursor:pointer;
  display: block;
  z-index: 6000;
  zoom: 1;
}

.superbad-ie .product_block  {
  width:170px;
  margin-right: 5px;
}

.superbad-ie .sub_cont {
margin-right: 50px;
}

.superbad-ie .content_container {
  margin-bottom: 25px;
}

.superbad-ie .hours {
  width:200px;
}

.superbad-ie .map_btn {
  padding-bottom: 0;
}

.superbad-ie .hp_feature h1, .superbad-ie .hp_feature p {
  width: 280px;
  margin-left: 10px;
  text-decoration: none;
}

.superbad-ie .content_container a{
  text-decoration: none;
}

.superbad-ie .slides a{
  color:black;
}

.superbad-ie .slides a:active{
  color:black;
}

.superbad-ie .pr_button {
  padding:5px 0;
}

.superbad-ie .cs_classes_inquire {
  white-space:nowrap;
  height: auto !important;
}

.superbad-ie .add_to_cart {
  float:none;
  height: 22px;
}

.superbad-ie .course_detail input {
  width:30px;
}

/* GREEN: #95b823  */
/* BEIGE LINES: #d7d7c8 */
/* PINK: #d70b7d */
/* LIGHT BG: #f1f1ec; */
/* Clear right margins on looped elements */


/* phone links */
a[href^="tel:"]{
     color: black;
     text-decoration: underline;
}
